@import "bootstrap";

.image_rotator{
	
	height: 410px;
}
.title
{
	font-weight:bold;
	font-size:15px;
}
.container-list
{
	padding-top:5em;
	padding-left:0px;
}

.container-list-show
{
	padding-top:5em;
	padding-left:20em;
}